<div class="sidebar">
    <a href="/"><h3>F-commerce BD</h3></a>
    <ul>
        <li><a href="#"><i class="fas fa-home"></i>Home</a></li>
        <!--<li><a href="#"><i class="fas fa-user"></i>Profile</a></li> -->
        <li><a href="#"><i class="fas fa-address-card"></i>About</a></li>
        <div class="item">
          <li><a href="#" class="sub-btn"><i class="fas fa-hamburger"></i>Food <i class="fas fa-angle-right dropdown"></i></a>
            <ul class="sub-menu">
              <li><a href="home_made">Home made</a></li>
              <li><a href="#">Fast Food</a></li>
            </ul>
          </li>
        </div>
        <div class="item">
          <li><a href="#" class="sub-btn"><i class="fas fa-coffee"></i>Drink <i class="fas fa-angle-right dropdown"></i></a>
            <ul class="sub-menu">
              <li><a href="hot">Hot</a></li>
              <li><a href="#">Cold</a></li>
            </ul>
          </li>
        </div>
        <div class="item">
          <li><a href="#" class="sub-btn"><i class="fas fa-tshirt"></i>Clothings <i class="fas fa-angle-right dropdown"></i></a>
            <ul class="sub-menu">
              <li><a href="#">Ready-made dress</a></li>
              <li><a href="#">Plain Clothing</a></li>
              <li><a href="#">Shoe</a></li>
            </ul>
          </li>
        </div>
        <div class="item">
          <li><a href="#" class="sub-btn"><i class="fas fa-book"></i>Book <i class="fas fa-angle-right dropdown"></i></a>
            <ul class="sub-menu">
              <li><a href="#">Premium Book</a></li>
              <li><a href="#">Regular Book</a></li>
            </ul>
          </li>
        </div>
        <div class="item">
          <li><a href="#" class="sub-btn"><i class="fas fa-shopping-bag"></i>Home Ingradiants<i class="fas fa-angle-right dropdown"></i></a>
            <ul class="sub-menu">
              <li><a href="#">Dish</a></li>
              <li><a href="#">Plant</a></li>
              <li><a href="#">Furniture</a></li>
            </ul>
          </li>
        </div>
        <div class="item">
          <li><a href="#" class="sub-btn"><i class="fas fa-mobile-alt"></i>Gadget</a></li>
        </div>
        <div class="item">
          <li><a href="#" class="sub-btn"><i class="fas fa-female"></i>Women's choice <i class="fas fa-angle-right dropdown"></i></a>
            <ul class="sub-menu">
              <li><a href="#">Jewelary</a></li>
              <li><a href="#">Beauty product</a></li>
            </ul>
          </li>
        </div>
        <div class="item">
          <li><a href="blog" class="sub-btn"><i class="fas fa-blog"></i>Blogs</a></li>
        </div>
        
        <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
    </ul> 
    <div class="social_media">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    //jquery for toggle sub menus
    $('.sub-btn').click(function(){
      $(this).next('.sub-menu').slideToggle();
      $(this).find('.dropdown').toggleClass('rotate');
    });
  });
</script>