<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/styles.css">
  <link href="js/styler.js">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>

<div class="wrapper">
    
    <%- include('./partials/sidebar.ejs') %>
    
    <div class="main_content">
        <div class="header"><h2>Hot beverages</h2></div>  



        <!--TEA O CLOCK-->


        <div class="row">
          
            <div class="column">
                 <a href="https://www.facebook.com/TeaOclock.bd" target="_blank"><img src="img/Drink/Hot/tea_o'clock.jpg" alt="tea_o'clock_logo" class='iconDetails'></a>
            </div>

            <div class="column">
              <h4> Page: <a href="https://www.facebook.com/TeaOclock.bd" target="_blank">Tea O'CLOCK</a></h4>
              <h4> Group: <a href="https://www.facebook.com/groups/662005557726161" target="_blank">Tea O'CLOCK</a></h4>
              
              <h4>Email: tea.oclockthebest@gmail.com</h4> 
              
              <h4>Contact: 01684-503525</h4>
              
              <h4>Website: Not Available</h4>
              <br>
              <h4>Delivery Within:</h4>
              <p style="font-size: 1.25em;">2-3 days</p>
              
              <h4>Price Range:</h4>
              <p style="font-size: 1.25em;">200-1180tk</p>
              
              <p style="font-size: 1.25em;"><a href="https://www.facebook.com/TeaOclock.bd/menu/">Price List</a></p>
              <h4> Location: Dhaka</h4>
            </div>
            <!-- 
              <div class="column">
              <p  class="description">
                 <h4>About:</h4>"Love tea?" Wish to have the best quality tea from Sylhet at your doorstep? Then look no further. Tea O'clock is a social network based home delivery service in Dhaka, Bangladesh delivering export quality tea to you.
              </p>
            </div>
             -->     
            <div class="column">
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTeaOclock.bd&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
        </div>



                <!--Natural Tea shops-->



        <div class="line"></div>

        <div class="row">
          
          <div class="column">
               <a href="https://www.facebook.com/naturalteashops" target="_blank"><img src="img/Drink/Hot/natural_tea_shops.png" alt="natural_tea_shops_logo" class='iconDetails'></a>
          </div>

          <div class="column">
            <h4> Page: <a href="https://www.facebook.com/naturalteashops/" target="_blank">Natural Tea Shops</a></h4>
            <h4> Group: Not Available</h4>
            <h4>Email: drhhft@gmail.com</h4> 
            <h4>Contact: 01887900900</h4> 
            <h4>Website: http://www.naturaltea.net</h4>
            <br>
            <h4>Delivery Within:</h4>
            <p style="font-size: 1.25em;">2-3 days</p>
            <h4>Price Range:</h4>
            <p style="font-size: 1.25em;">160-425tk</p>
            <p style="font-size: 1.25em;"><a href="https://www.facebook.com/pg/naturalteashops/photos">Price List</a></p>
            <h4> Location: Corporate office: Mohammadpur Dhaka, Dhaka Division, Bangladesh</h4>
          </div>

          <div class="column">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpg%2Fnaturalteashops&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
          </div>

      </div>
        
    </div>
    
</div>
<hr>
</body>
    <!--For star mark-->
    <!--
    <script>
      let count;
      
      function starmark(item)
      {
          count=item.id[0];
          sessionStorage.starRating = count;
          let subid= item.id.substring(1);
        for(let i=0;i<5;i++)
        {
          if(i<count)
          {
            document.getElementById((i+1)+subid).style.color="orange";
          }
          else
          {
            document.getElementById((i+1)+subid).style.color="black";
          }          
        }   
      }
      
      function result()
      {
      //Rating : Count
      //Review : Comment(id)
        alert("Rating : "+count+"\nReview : "+document.getElementById("comment").value);
      }
      
      </script>
      -->
</html>