
<div class="wrapper">
  <%- include('./partials/sidebar.ejs') %>
    
    <div class="main_content">
        <div class="header">Welcome!!</div>  
        <div class="info">
          <div>Hello. Facebook is now a great source of income in Bangladesh. So, according to the popularly known term "E-commerce" a new terminology is introduced "F-commerce". F-commerce is facebook based E-commerce business. As the number of facebook user is growing rapidly in Bangladesh, the number of parchased from facebook pages is also rising. But it is hard to find the pages as there is no organised way to arrange this pages. Therefore, we have come up with an idea to organise this facebook pages so that it becomes easy to find our desired product from our desired facebook page.</div>
      </div>
    </div>
</div>


</body>